
.moodFrame {
    background-color: rgba(195, 216, 235, .95);
    height: 736px; 
    width: 414px; 
    margin: auto; 
}


.form-container {
    
}

.moodList {
 
}

.mood-0 {

}

.mood-10 {

}

.mood-20 {

}

.mood-30 {

}

.mood-40 {

}

.mood-50 {

}

.active {
    font-weight:bold;
}