.form-range {
    transform: rotate(270deg);
    width: 400px; 
}

.moodFrame {
    background-color: rgba(195, 216, 235, .95);
    height: 736px; 
    width: 414px; 
    margin: auto; 
}

.moodsAndSlider{
    background-color: cadetblue;
    height:600px;
    display: flex;
}


.form-container {
    background-color: aqua;
    flex: 50%;
    align-content: flex-end;
    justify-items: end;
}

.moodList {
    background-color: blueviolet;
    flex: 50%;
    align-content: flex-start;
    justify-items: start;
}